*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6845b;
    color: #3D685F;
}

#symbol{
    font-size: 80px;
    padding-top: 10px;
    text-shadow: 2px 2px 0px #FFB650, 
    4px 4px 0px #FFD662, 
    6px 6px 0px  #FF80BF, 
    8px 8px 0px #EF5097, 
    10px 10px 0px #6868AC, 
    12px 12px 0px #90B1E0;
}

#title{
    padding: 10px;
    margin-bottom: 15px;
    color: #3D685F;
    letter-spacing: 0.03em;
    font-size: 4rem;
    text-shadow: 2px 2px 0px #FFB650, 
    4px 4px 0px #FFD662, 
    6px 6px 0px  #FF80BF, 
    8px 8px 0px #EF5097, 
    10px 10px 0px #6868AC, 
    12px 12px 0px #90B1E0;
}

#inputDecimals{
    border-radius: 5px;
    height: 40px;
    width: 320px;
    margin: 15px 0 25px 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 5px 15px;
}

#result{
    color: #3D685F;
    padding: 10px;
}

#fail{
    color: #e83d4b;
    padding: 10px;
    margin-bottom: 15px;
}

#score{
    color: #a06b24;
    border-top: 2px solid #a06b24;
    padding-top:20px;
}
