*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.box{
    width: 19ch;
    animation: typing 2s steps(19), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 15px;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100px;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}